<div class="mb-5">
  <a (click)="onBtnActionClicked(publicationHighlights.id)" class="cursor-pointer">
    <div class="relative overflow-hidden text-sm font-medium text-gray-400 rounded-none md:rounded max-h-96">
      <div class="relative">
        <div class="absolute flex flex-wrap gap-1 px-2 mt-2 text-xs cursor-pointer font-base md:px-1 md:mt-1">
          <span class="px-3 py-1 text-xs font-medium text-white rounded bg-black/20 backdrop-blur-md"
            *ngFor="let tag of publicationHighlights.tag">
            {{ tag.name }}
          </span>
        </div>
        <img
          class="object-contain object-center w-full mb-1 bg-center rounded-none md:object-contain max-h-96 md:rounded bg-gray-50"
          src="{{ publicationHighlights.imgUrl }}" />

      </div>
    </div>
  </a>
  <div class="flex w-full px-2 mt-1 text-gray-400 md:px-0">
    <div class="mr-1 text-xs cursor-pointer font-base">{{ publicationHighlights.time }}</div>
  </div>
  <h2 class="px-4 mt-4 mb-2 text-lg font-semibold text-gray-900 cursor-pointer md:px-0" (click)="onBtnActionClicked(publicationHighlights.id)">
    <a class="text-gray-900">{{ publicationHighlights.header }}</a>
  </h2>

  <p class="px-4 mb-3 text-sm font-normal text-gray-500 cursor-pointer md:px-0" (click)="onBtnActionClicked(publicationHighlights.id)">
    {{ publicationHighlights.content}}
  </p>
</div>
