<section class="relative text-gray-600 body-font max-w-[460px]">
  <div class="container px-5 mx-auto">
    <div class="flex flex-col w-full mb-4 text-left">
      <span class="font-sans text-4xl font-thin text-gray-900 sm:text-3xl title-font">Contact Us</span>
      <a class="pl-1 font-sans text-xs font-thin text-gray-900 sm:text-xs title-font">reachuson.red@support.com</a>
      <div class="w-full my-10 mt-3 border-b divide-y"></div>
    </div>
    <div class="lg:w-full md:w-full">
      <div class="flex flex-wrap -m-2">
        <div class="w-1/2 p-2">
          <div class="relative">
            <label for="name" class="text-sm leading-7 text-gray-600">Name</label>
            <input type="text" id="name" name="name" class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-gray-100 bg-opacity-50 border border-gray-300 rounded outline-none focus:border-black focus:bg-white focus:ring-2 focus:ring-slate-200">
          </div>
        </div>
        <div class="w-1/2 p-2">
          <div class="relative">
            <label for="email" class="text-sm leading-7 text-gray-600">Email</label>
            <input type="email" id="email" name="email" class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-gray-100 bg-opacity-50 border border-gray-300 rounded outline-none focus:border-black focus:bg-white focus:ring-2 focus:ring-slate-200">
          </div>
        </div>
        <div class="w-full p-2">
          <div class="relative">
            <label for="message" class="text-sm leading-7 text-gray-600">Message</label>
            <textarea id="message" name="message" class="w-full h-32 px-3 py-1 text-base leading-6 text-gray-700 transition-colors duration-200 ease-in-out bg-gray-100 bg-opacity-50 border border-gray-300 rounded outline-none resize-none focus:border-black focus:bg-white focus:ring-2 focus:ring-slate-200"></textarea>
          </div>
        </div>
        <div class="w-full p-2">
          <button class="flex px-8 py-2 text-lg text-white bg-black border rounded focus:outline-none hover:bg-white hover:text-black">send</button>
        </div>
      </div>
    </div>
  </div>
</section>
