<!-- <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
  <span class="text-5xl font-thin">G</span>reetings to our real-estate website, where you may browse a
  selection of room and apartment rentals. Our goal is to make renting a home for any of our renters easy and
  stress-free.
</p> -->
<main class="flex flex-col flex-auto min-w-0 px-2 mt-6 md:mt-0 md:px-0">
  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    <span class="text-5xl font-thin">f</span>rom single rooms to completely furnished apartments, we have a selection of properties to fit every
    lifestyle and budget. Because of the practical and popular locations of our apartments, you will have no
    trouble getting to nearby services, transit, and central areas.
  </p>
  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    We understand the importance of a comfortable and secure living environment, and that's why we take great
    care in selecting and maintaining our properties. Our team of experienced professionals is available to
    assist you with any questions or concerns you may have during your stay.
  </p>
  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    We make it simple for you to select the ideal rental for your needs with variable lease periods and an easy
    booking process. Take a look at our listings right now to start moving toward your new house!
  </p>
  <div class="w-full my-8 border-b divide-y"></div>
  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    <span class="text-4xl font-thin">t</span>his is our blog channel, where you can stay informed and up-to-date
    on the latest industry news, trends, and tips. Our blog is designed for anyone interested in real estate,
    from first-time home buyers to seasoned property investors.
  </p>

  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    Our blog covers a wide range of topics, including home buying and selling tips, market trends, property
    investment strategies, and more. Whether you're looking to buy your first home, upgrade to a larger
    property, or invest in real estate, our blog is the perfect resource for you.
  </p>

  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
    Our team of expert writers and industry professionals share their insights and knowledge to help you make
    informed decisions and navigate the world of real estate with confidence. Stay tuned for the latest news,
    trends, and expert advice in the real estate industry.
  </p>

  <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200 text-4xl font-thin">stay tuned.</p>
</main>
