<div class="max-w-[460px]">
  <nav
  class="relative flex flex-row items-start px-4 pb-0 overflow-scroll md:flex-col md:px-0 fade md:overflow-auto scroll-pr-6 md:relative"
  id="nav">
  <div class="flex flex-row pr-10 mt-2 mb-2 space-x-0 md:flex-col md:mt-0">
    <a class="
        transition-all
        hover:text-neutral-800
        dark:hover:text-neutral-200
        py-[5px]
        px-[10px]
        text-neutral-500
      " routerLink="post" routerLinkActive="active">story</a>
      <a class="
        transition-all
        hover:text-neutral-800
        dark:hover:text-neutral-200
        py-[5px]
        px-[10px]
        text-neutral-500
      " routerLink="publish" routerLinkActive="active">publish</a>
  </div>
</nav>
<router-outlet></router-outlet>
</div>
