<section class="flex flex-col h-auto gap-3 md:flex-row">
  <aside class="md:w-[150px] md:flex-shrink-0 -mx-4 md:mx-0 md:px-0 font-serif">
    <div class="lg:sticky lg:top-20">
      <div class=" md:ml-[2px] mb-2 px-4 md:px-0 md:mb-8 space-y-10 flex flex-col md:flex-row items-start pb-4">
        <a aria-label="Lee Robinson" href="/">
          <span class="px-1 font-sans text-6xl font-thin bg-red-200 rounded-md">Red.</span>
        </a>
      </div>
      <nav
        class="relative flex flex-row items-start px-4 pb-0 overflow-scroll md:flex-col md:px-0 fade md:overflow-auto scroll-pr-6 md:relative"
        id="nav">
        <div class="flex flex-row pr-10 mt-2 mb-2 space-x-0 md:flex-col md:mt-0">

          <a class="
              transition-all
              hover:text-neutral-800
              dark:hover:text-neutral-200
              py-[5px]
              px-[10px]
              text-neutral-500
            " routerLinkActive="active" routerLink="home">home</a>
          <a class="
              transition-all
              hover:text-neutral-800
              dark:hover:text-neutral-200
              py-[5px]
              px-[10px]
              text-neutral-500
            " routerLink="about" routerLinkActive="active">about</a>
          <a class="
              transition-all
              hover:text-neutral-800
              dark:hover:text-neutral-200
              py-[5px]
              px-[10px]
              text-neutral-500
            " routerLink="blog" routerLinkActive="active">blog</a>
          <a class="
              transition-all
              hover:text-neutral-800
              dark:hover:text-neutral-200
              py-[5px]
              px-[10px]
              text-neutral-500
            " routerLink="guestbook" routerLinkActive="active">support</a>
        </div>
      </nav>
    </div>
  </aside>
  <main class="flex flex-col flex-auto min-w-0 mt-6 md:mt-0 md:px-0">
    <router-outlet></router-outlet>

  </main>
</section>
