<div class="block w-full p-2 overflow-auto no-scrollbar md:p-0">
  <div class="flex justify-center w-full">
    <div class="w-full">
      <div class="flex items-center justify-between w-full mb-10">
        <!-- <div class="flex text-5xl font-thin capitalize select-none justify-evenly">
          <span class="mb-1 pop">Your Story</span>
        </div> -->
        <div placeholder="Story head"
              class="max-w-3xl w-full text-5xl !font-thin editor-title customTitleControl-field u-minHeight20 u-width100pct u-hideOutline js-customTitleControlSubtitle editable inlineError inlineError--maxLength display-char-count inlineError--muted"
              id="editor" role="textbox" contenteditable="true"
              data-placeholder="title..."
              data-chars-remaining="0">
        </div>
        <div class="top-0 right-0 z-40 flex justify-end md:relative">
          <button routerLink="/archives/stories/posts" type="button"
            class="inline-flex items-center justify-center w-auto h-8 px-2 py-1 m-2 space-x-1 text-sm font-medium text-gray-800 transition bg-white border border-gray-200 rounded appearance-none cursor-pointer select-none hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="block w-full">
    <div class="flex justify-center w-full">
      <div class="w-full">
        <div class="block">
          <section class="flex flex-col rounded">
            <div class="flex justify-between p-2 border-0 rounded-t md:border md:border-b-0">
              <div>
                <span class="pl-1 text-xs text-gray-400 capitalize" *ngIf="auth.user$ | async as user">draft in
                  {{user?.nickname}}</span>
              </div>
              <button (click)="saveEditorData(); $event.stopPropagation()" type="submit"
                class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-black border border-transparent rounded hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-transparent focus:ring-offset-2">Publish</button>
            </div>
            <div id="editorjs"
              class="border-0 md:border-l h-auto min-h-[100px] focus-visible:outline-none mat-typography"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
